/* css에 import 하는 방법 */
@import url("./fonts.css");
/* Rendered Fonts > Network resource: 해당 폰트는 사용자의 컴퓨터에서 온 폰트가 아닌 웹페이지에서 제공하고 있는 네트워크 리소스를 사용하고 있다 라는 뜻으로 성공적으로 웹폰트를 잘 사용하고 있다는 의미  */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Jake", sans-serif;
    line-height: 1.65;
    color: #212529;
}

.box {
    width: 100%;
    max-width: 540px;
    padding: 120px 0;
    margin: 0 auto;
}

.box h1 {
    margin-bottom: 1.25em;
    color: #1f2d3d;
    line-height: 1.4;
}

.box p {
    color: #3c4858;
}