* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  color: #1f2d3d;
  line-height: 1.25;
}

strong {
  font-size: 14px;
  font-weight: 400;
  color: #afb3b9;
  line-height: 1.4285714286;
}

p {
  font-size: 16px;
  color: #79818b;
  line-height: 1.5;
}

/* ▼ WHERE YOUR CODE BEGINS */

/* 자주 사용되기 때문에 범용적으로 사용할 수 있는 클래스를 만들어버림 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.card {
  max-width: 540px;
  padding: 20px;
  border: 1px solid #79818b;
}

.card-user,
.card-content {
  float: left;
}

.card-user {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 20px;
}

.card-content h1 {
  margin-bottom: 4px;
}

.card-content strong {
  display: block;
  margin-bottom: 12px;
}